* {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  padding: 0px;
}
body {
  padding-top: 72px;
  padding-bottom: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
  background-color: rgb(242, 244, 247);
  color: rgb(28, 30, 33);
}
.container {
  display: flex;
  min-width: 500px;
  height: 536px;
  flex-direction: row;
}
.Logo-info {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
}
.logo {
  margin-top: 112px;
  width: 500px;
}
.logo img {
  height: 106px;
  object-position: -29px;
}

.subtittle {
  margin-top: -11px;
  font-size: 28px;
  min-width: 400px;
  line-height: 32px;
  max-width: 500px;
}
.div-2 {
  width: 396px;
  height: 348px;
  margin-top: 40px;
  padding: 10px 0px 24px 0px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top: 1px solid rgba(28, 30, 33, 0.15);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}
.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-info input {
  width: 364px;
  height: 51px;
  padding: 14px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 12px;
  border: 0.8px solid rgb(221, 223, 226);
  color: rgb(29, 33, 41);
  font-size: 17px;
  line-height: 16px;
}
.login-bttn {
  margin-top: 6px;
  height: 48px;
  padding: 0px 16px;
  height: 48px;
  width: 364px;
  background-color: rgb(8, 102, 255);
  color: white;
  border-radius: 6px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
}
.div-2 a {
  font-size: 14px;
  color: rgb(8, 102, 255);
  cursor: pointer;
  margin-top: 16px;
  line-height: 16px;
}
.border-line {
  border-top: 1px solid rgb(218, 221, 225);

  margin: 16px 20px;
  width: 356px;
}
.create-bttn {
  background-color: rgb(66, 183, 42);
  line-height: 48px;
  color: white;
  border-radius: 6px;
  border-style: none;
  font-size: 17px;
  font-weight: 700;
  padding: 0px 16px;
}
.disclaimer {
  margin-top: 28px;
  color: rgb(28, 30, 33);
  font-size: 14px;
  font-weight: 400;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1070px) {
  .subtittle {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .Logo-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .subtittle {
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    width: 400px;
  }
  .logo {
    margin-top: 20px;
    text-align: center;
  }
  .div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
